.lastSection-container {
    background-color: black;
    background-image: linear-gradient(to top, transparent 30%, rgba(255, 0, 238, 0.193) 100%);
    display: flex;
    min-height: 14vw;
    flex-direction: column;
    padding-bottom: 5px;
}

.lastSection-main {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-top: 1px solid #727272;

}

.beauty-block {
    flex: 0.65;
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    /* ← это заставит дочерние элементы растягиваться по ширине самого широкого */
    margin-left: 20px;
    margin-top: 30px;
}





.nadpisi {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

.nadpisi p {
    /* p — определяет ширину контейнера */
    width: fit-content;
    /* ← сжимается по содержимому, но не растягивается */
    /* или max-width: 500px; если нужен лимит */
    color: rgb(195, 195, 195);
    font-size: 1.2vw;
    font-weight: 400;
    white-space: normal;
}

.nadpisi h2 {
    width: 100%;
    white-space: normal;
    /* ← 100% от ширины .nadpisi = ширина <p> */
    /* Можно добавить выравнивание: */
    text-align: justify;
    /* или center / justify */
    text-align-last: justify;
    color: white;
    font-size: 1.7vw;
}



.beauty-block-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 40px;
}

.beauty-block .brand {
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}



.messagers-icons-block {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.three-messager-icons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 8px;
    margin-top: 30px;
    width: 100%;
}

.three-messager-icons img {
    grid-column: span 1;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}
.three-messager-icons .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
}
.three-messager-icons .top-icon #whatsapp{
    margin-left: 15px;
}
.three-messager-icons .bottom-icon{
    grid-column: span 2;

}


.clicks-block {
    padding-right: 50px;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;

}

.clicks-block div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;

    transition: background-color 0.3s ease;
}

.clicks-block p {
    color: #757474;
    font-size: 1vw;
}

.clicks-block h3 {
    color: white;
    font-size: 1.3vw;
    margin-bottom: 5px;
}

.one-click-block p {
    text-decoration: underline;
    transition: all 0.5s ease-out;
}

.one-click-block p:hover {
    cursor: pointer;
    color: rgb(209, 208, 208);
}

.footer-block {
    position: relative;

    height: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px dotted #727272;
    width: 50%;
    margin-top: 20px;
    margin-right: 20px;
    text-align: start;
    color: gray;
    padding-top: 15px;
    margin-left: 20px;
}