.project-section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
    padding-top: 0;
    overflow: hidden;
    align-items: center;
}

.project-page {
    position: relative;
    /* ✅ обязательно, чтобы absolute-дети позиционировались относительно него */
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    /* или height: auto — но лучше явно задать */
    overflow: hidden;
}

/* Псевдоэлемент с градиентом */
.project-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

.project-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.631), rgba(0, 0, 0, 0.26)),
        linear-gradient(to top,
            transparent 30%,
            rgba(255, 0, 238, 0.177) 100%),
        linear-gradient(to right,
            rgba(224, 138, 138, 0.3) 0%,
            transparent 40%,
            transparent 60%,
            rgba(224, 138, 138, 0.3) 100%);
    opacity: 0;
    animation: fadeInGradient 1.8s ease-out forwards;
    pointer-events: none;
    /* чтобы не мешал кликам */
    z-index: 1;
}

@keyframes fadeInGradient {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.global-header {
    z-index: 10;
    color: white;
    position: absolute;
    margin-top: 3vh;

}

.global-header .brand {
    position: relative;
    cursor: pointer;
    justify-content: center;
    font-size: 40px;
    margin-left: 52px;
    text-decoration: underline #ffffff34;
}

.project-page h1,
.project-page p {
    z-index: 5;
    color: white;
}

.project-page h1 {
    text-align: center;
    font-size: 4vw;
    margin-top: 1.5vh;
}

.project-page p {
    width: 100%;
    font-size: 1.5vw;
    margin-top: 20px;
    hyphens: auto;
}

.nadpisi {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

.viewer-component {
    min-height: 0;
    min-width: 0;

    z-index: 4;
    margin-top: 30px;
}

.viewer-component>div {
    /* контейнер Photo Sphere Viewer */
    width: 70vw;
    height: 90vh;
}

