/* project_page.module.css */

.projectPage {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Псевдоэлемент с градиентом */
.projectPage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 0;
}

.projectPage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.631), rgba(0, 0, 0, 0.26)),
    linear-gradient(to top,
      transparent 30%,
      rgba(255, 0, 238, 0.177) 100%),
    linear-gradient(to right,
      rgba(224, 138, 138, 0.3) 0%,
      transparent 40%,
      transparent 60%,
      rgba(224, 138, 138, 0.3) 100%);
  opacity: 0;
  animation: fadeInGradient 1.8s ease-out forwards;
  pointer-events: none;
  z-index: 1;
}

@keyframes fadeInGradient {
  from { opacity: 0; }
  to { opacity: 1; }
}

.globalHeader {
  z-index: 10;
  color: white;
  position: absolute;
  margin-top: 3vh;
}

.brand {
  position: relative;
  cursor: pointer;
  justify-content: center;
  font-size: 40px;
  margin-left: 52px;
  text-decoration: underline #ffffff34;
}

.projectSection {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  padding-top: 0;
  overflow: hidden;
  align-items: center;
  z-index: 2;
}

.title {
  z-index: 5;
  color: white;
  text-align: center;
  font-size: 4vw;
  margin-top: 1.5vh;
  margin: 0;
}

.descriptionWrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}

.description {
  z-index: 5;
  color: white;
  width: 100%;
  font-size: 1.5vw;
  margin-top: 20px;
  hyphens: auto;
  margin: 0;
}

.viewerContainer {
  min-height: 0;
  min-width: 0;
  z-index: 4;
  margin-top: 30px;
}

.viewerContainer > div {
  /* контейнер Photo Sphere Viewer */
  width: 70vw;
  height: 90vh;
}

/* Loader / Error states */
.loader,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-size: 1.2rem;
  background: black;
}

.error {
  color: #ff5252;
}