.view_360_page h1{
    margin-top: 3%;
    text-align: center;
    font-size: 50px;
    color: white;
}
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loading {
    text-align: center;
    font-size: 50px;
}

.view_360_page {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;

}

.project-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 45vw));
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: 2px solid rgb(189, 189, 189);
    border-radius: 8px;
    padding: 10px;
    margin-left: 15px;
    cursor: pointer;
    transition: box-shadow 0.2s, border-color 0.2s;
}

/* При наведении — усиливаем рамку или добавляем тень */
.project:hover {
    border-color: #333;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.247);
}

.project h3, .project p{
    color: white;
}
.project img{
    width: 100%;
}