.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loading {
    text-align: center;
    font-size: 50px;
}

.view_360_page {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.global-header {
    z-index: 1000;
    color: white;
    position: absolute;
    
}
.global-header p {
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    margin-top: 5vh;
    margin-left: 52px;
}