.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loading {
    text-align: center;
    font-size: 50px;
}

.view_360_page {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: 
        /* 1. Тёмный оверлей (сверху) */
        linear-gradient(rgba(0, 0, 0, 0.631), rgba(0, 0, 0, 0.26)),

        /* 2. Вертикальный розовый градиент */
        linear-gradient(to top,
            transparent 30%,
            rgba(255, 0, 238, 0.177) 100%
        ),

        /* 3. Горизонтальный градиент (розово-красный → чёрный) */
        linear-gradient(to right,
            rgba(224, 138, 138, 0.3) 0%,
            transparent 40%,
            transparent 60%,
            rgba(224, 138, 138, 0.3) 100%
        );

}

.global-header {
    z-index: 1000;
    color: white;
    position: relative;
    margin-top: 6vh;
    
}
.global-header .brand {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    margin-left: 52px;
    text-decoration: underline #ffffff34;
}