.main-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  color: white;
  transition: opacity 0.6s ease, transform 0.6s ease, translateY 1.9s ease, background 0.6s ease,;
  z-index: 10;
}

.main-section.hidden {
  background: transparent;
  pointer-events: none;
}

.header-container h1{
  transition: background 0.6s ease, transform 0.6s ease;
}
.main-section.hidden .header-container h1{
  background: transparent;
  transform: scale(1) translateY(-30vh);
  pointer-events: none;
}

.main-section.hidden .header-container .scroll-gif .active{
  background: transparent;
  transform: scale(1) translateY(-30vh);
  pointer-events: none;
}

.main-section.active {
  transform: scale(1);
  
}

.scroll-gif {
  width: 200px;
  height: auto;
  margin-top: 20px;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-gif.active {
  opacity: 1;
}

.scroll-gif.hidden {
  opacity: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.header-container div{
  display: flex;
  margin: auto auto;
  align-items: center;
  justify-content: center;
}
.header-container .header-top{
  position: absolute;
  cursor: pointer;
  margin-left: 52px;
}

.header-container h1 {
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  font-weight: 400;
  margin-left: 10px;
}


.linked-p.hidden{
  opacity: 1;
  cursor: pointer;
}
.linked-p.active{
  opacity: 0;
  display: none;
}