.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 16px;
    background: #000000;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
    color: rgb(185, 185, 185);

}

.psv-container {
    width: 95vw;
    height: 95vh;
    max-width: 1400px;
    position: relative;
    background-color: #000;
    border-radius: 8px;
    align-items: center;
    border: 3px solid rgb(189, 189, 189);
    border-right-width: 2px;
    border-left-width: 1px;

}