/* AdminPage.module.css */
html, body, #root {
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  min-height: 93vh;
  max-height: fit-content;
  background: #0a0a0a;
}

.main {
  flex: 1;
  padding: 24px;
  overflow: auto;
  background: #0f0f0f;
}